@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0D0D0D;
  --foreground: #E0E0E0;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .bg-noise {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='2.5' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  }

  .preserve-3d {
    transform-style: preserve-3d;
  }

  .perspective-1000 {
    perspective: 1000px;
  }
}

@keyframes noise {
  0% {
    transform: translate(0, 0)
  }

  10% {
    transform: translate(-5%, -5%)
  }

  20% {
    transform: translate(-10%, 5%)
  }

  30% {
    transform: translate(5%, -10%)
  }

  40% {
    transform: translate(-5%, 15%)
  }

  50% {
    transform: translate(-10%, 5%)
  }

  60% {
    transform: translate(15%, 0)
  }

  70% {
    transform: translate(0, 10%)
  }

  80% {
    transform: translate(-15%, 0)
  }

  90% {
    transform: translate(10%, 5%)
  }

  100% {
    transform: translate(5%, 0)
  }
}

.animate-noise {
  animation: noise 0.2s infinite;
}

@keyframes grid-move {
  0% {
    transform: rotateX(60deg) translateY(0) translateZ(-200px);
  }

  100% {
    transform: rotateX(60deg) translateY(40px) translateZ(-200px);
  }
}

.animate-grid-move {
  animation: grid-move 1s linear infinite;
}